0 agent_move_bathroom 5
0 agent_move_livingroom 5
0 agent_move_outside 5
0 agent_move_placement 5
0 agent_move_shelf1 5
0 agent_move_shelf2 5
0 agent_move_shelf3 5
0 agent_move_sidetable 5
0 agent_move_sofa 5
0 agent_move_table 4
0 agent_pick_object 3
0 agent_place_object_placement 4
1 agent_move_bathroom 5
1 agent_move_livingroom 5
1 agent_move_outside 5
1 agent_move_placement 5
1 agent_move_shelf1 5
1 agent_move_shelf2 5
1 agent_move_shelf3 5
1 agent_move_sidetable 4
1 agent_move_sofa 5
1 agent_move_table 5
1 agent_pick_object 5
1 agent_place_object_placement 5
2 agent_move_bathroom 4
2 agent_move_livingroom 5
2 agent_move_outside 5
2 agent_move_placement 5
2 agent_move_shelf1 5
2 agent_move_shelf2 5
2 agent_move_shelf3 5
2 agent_move_sidetable 5
2 agent_move_sofa 5
2 agent_move_table 5
2 agent_pick_object 5
2 agent_place_object_placement 5
3 agent_move_bathroom 5
3 agent_move_livingroom 5
3 agent_move_outside 4
3 agent_move_placement 5
3 agent_move_shelf1 5
3 agent_move_shelf2 5
3 agent_move_shelf3 5
3 agent_move_sidetable 5
3 agent_move_sofa 5
3 agent_move_table 5
3 agent_pick_object 5
3 agent_place_object_placement 5
4 agent_move_bathroom 5
4 agent_move_livingroom 5
4 agent_move_outside 5
4 agent_move_placement 5
4 agent_move_shelf1 4
4 agent_move_shelf2 5
4 agent_move_shelf3 5
4 agent_move_sidetable 5
4 agent_move_sofa 5
4 agent_move_table 5
4 agent_pick_object 5
4 agent_place_object_placement 5
5 agent_move_bathroom 5
5 agent_move_livingroom 5
5 agent_move_outside 5
5 agent_move_placement 5
5 agent_move_shelf1 5
5 agent_move_shelf2 4
5 agent_move_shelf3 5
5 agent_move_sidetable 5
5 agent_move_sofa 5
5 agent_move_table 5
5 agent_pick_object 5
5 agent_place_object_placement 5
6 agent_move_bathroom 5
6 agent_move_livingroom 5
6 agent_move_outside 5
6 agent_move_placement 5
6 agent_move_shelf1 5
6 agent_move_shelf2 5
6 agent_move_shelf3 4
6 agent_move_sidetable 5
6 agent_move_sofa 5
6 agent_move_table 5
6 agent_pick_object 5
6 agent_place_object_placement 5
7 agent_move_bathroom 5
7 agent_move_livingroom 5
7 agent_move_outside 5
7 agent_move_placement 5
7 agent_move_shelf1 5
7 agent_move_shelf2 5
7 agent_move_shelf3 5
7 agent_move_sidetable 5
7 agent_move_sofa 4
7 agent_move_table 5
7 agent_pick_object 5
7 agent_place_object_placement 5
8 agent_move_bathroom 5
8 agent_move_livingroom 4
8 agent_move_outside 5
8 agent_move_placement 5
8 agent_move_shelf1 5
8 agent_move_shelf2 5
8 agent_move_shelf3 5
8 agent_move_sidetable 5
8 agent_move_sofa 5
8 agent_move_table 5
8 agent_pick_object 5
8 agent_place_object_placement 5
9 agent_move_bathroom 3
9 agent_move_livingroom 3
9 agent_move_outside 3
9 agent_move_placement 2
9 agent_move_shelf1 3
9 agent_move_shelf2 3
9 agent_move_shelf3 3
9 agent_move_sidetable 3
9 agent_move_sofa 3
9 agent_move_table 3
9 agent_pick_object 3
9 agent_place_object_placement 3
11 agent_move_bathroom 5
11 agent_move_livingroom 5
11 agent_move_outside 5
11 agent_move_placement 5
11 agent_move_shelf1 5
11 agent_move_shelf2 5
11 agent_move_shelf3 5
11 agent_move_sidetable 5
11 agent_move_sofa 5
11 agent_move_table 4
11 agent_pick_object 5
11 agent_place_object_placement 5
12 agent_move_bathroom 5
12 agent_move_livingroom 5
12 agent_move_outside 5
12 agent_move_placement 5
12 agent_move_shelf1 5
12 agent_move_shelf2 5
12 agent_move_shelf3 5
12 agent_move_sidetable 4
12 agent_move_sofa 5
12 agent_move_table 5
12 agent_pick_object 3
12 agent_place_object_placement 4
13 agent_move_bathroom 4
13 agent_move_livingroom 5
13 agent_move_outside 5
13 agent_move_placement 5
13 agent_move_shelf1 5
13 agent_move_shelf2 5
13 agent_move_shelf3 5
13 agent_move_sidetable 5
13 agent_move_sofa 5
13 agent_move_table 5
13 agent_pick_object 5
13 agent_place_object_placement 5
14 agent_move_bathroom 5
14 agent_move_livingroom 5
14 agent_move_outside 4
14 agent_move_placement 5
14 agent_move_shelf1 5
14 agent_move_shelf2 5
14 agent_move_shelf3 5
14 agent_move_sidetable 5
14 agent_move_sofa 5
14 agent_move_table 5
14 agent_pick_object 5
14 agent_place_object_placement 5
15 agent_move_bathroom 5
15 agent_move_livingroom 5
15 agent_move_outside 5
15 agent_move_placement 5
15 agent_move_shelf1 4
15 agent_move_shelf2 5
15 agent_move_shelf3 5
15 agent_move_sidetable 5
15 agent_move_sofa 5
15 agent_move_table 5
15 agent_pick_object 5
15 agent_place_object_placement 5
16 agent_move_bathroom 5
16 agent_move_livingroom 5
16 agent_move_outside 5
16 agent_move_placement 5
16 agent_move_shelf1 5
16 agent_move_shelf2 4
16 agent_move_shelf3 5
16 agent_move_sidetable 5
16 agent_move_sofa 5
16 agent_move_table 5
16 agent_pick_object 5
16 agent_place_object_placement 5
17 agent_move_bathroom 5
17 agent_move_livingroom 5
17 agent_move_outside 5
17 agent_move_placement 5
17 agent_move_shelf1 5
17 agent_move_shelf2 5
17 agent_move_shelf3 4
17 agent_move_sidetable 5
17 agent_move_sofa 5
17 agent_move_table 5
17 agent_pick_object 5
17 agent_place_object_placement 5
18 agent_move_bathroom 5
18 agent_move_livingroom 5
18 agent_move_outside 5
18 agent_move_placement 5
18 agent_move_shelf1 5
18 agent_move_shelf2 5
18 agent_move_shelf3 5
18 agent_move_sidetable 5
18 agent_move_sofa 4
18 agent_move_table 5
18 agent_pick_object 5
18 agent_place_object_placement 5
19 agent_move_bathroom 5
19 agent_move_livingroom 4
19 agent_move_outside 5
19 agent_move_placement 5
19 agent_move_shelf1 5
19 agent_move_shelf2 5
19 agent_move_shelf3 5
19 agent_move_sidetable 5
19 agent_move_sofa 5
19 agent_move_table 5
19 agent_pick_object 5
19 agent_place_object_placement 5
20 agent_move_bathroom 3
20 agent_move_livingroom 3
20 agent_move_outside 3
20 agent_move_placement 2
20 agent_move_shelf1 3
20 agent_move_shelf2 3
20 agent_move_shelf3 3
20 agent_move_sidetable 3
20 agent_move_sofa 3
20 agent_move_table 3
20 agent_pick_object 3
20 agent_place_object_placement 3
22 agent_move_bathroom 5
22 agent_move_livingroom 5
22 agent_move_outside 5
22 agent_move_placement 5
22 agent_move_shelf1 5
22 agent_move_shelf2 5
22 agent_move_shelf3 5
22 agent_move_sidetable 5
22 agent_move_sofa 5
22 agent_move_table 4
22 agent_pick_object 5
22 agent_place_object_placement 5
23 agent_move_bathroom 5
23 agent_move_livingroom 5
23 agent_move_outside 5
23 agent_move_placement 5
23 agent_move_shelf1 5
23 agent_move_shelf2 5
23 agent_move_shelf3 5
23 agent_move_sidetable 4
23 agent_move_sofa 5
23 agent_move_table 5
23 agent_pick_object 5
23 agent_place_object_placement 5
24 agent_move_bathroom 4
24 agent_move_livingroom 5
24 agent_move_outside 5
24 agent_move_placement 5
24 agent_move_shelf1 5
24 agent_move_shelf2 5
24 agent_move_shelf3 5
24 agent_move_sidetable 5
24 agent_move_sofa 5
24 agent_move_table 5
24 agent_pick_object 3
24 agent_place_object_placement 4
25 agent_move_bathroom 5
25 agent_move_livingroom 5
25 agent_move_outside 4
25 agent_move_placement 5
25 agent_move_shelf1 5
25 agent_move_shelf2 5
25 agent_move_shelf3 5
25 agent_move_sidetable 5
25 agent_move_sofa 5
25 agent_move_table 5
25 agent_pick_object 5
25 agent_place_object_placement 5
26 agent_move_bathroom 5
26 agent_move_livingroom 5
26 agent_move_outside 5
26 agent_move_placement 5
26 agent_move_shelf1 4
26 agent_move_shelf2 5
26 agent_move_shelf3 5
26 agent_move_sidetable 5
26 agent_move_sofa 5
26 agent_move_table 5
26 agent_pick_object 5
26 agent_place_object_placement 5
27 agent_move_bathroom 5
27 agent_move_livingroom 5
27 agent_move_outside 5
27 agent_move_placement 5
27 agent_move_shelf1 5
27 agent_move_shelf2 4
27 agent_move_shelf3 5
27 agent_move_sidetable 5
27 agent_move_sofa 5
27 agent_move_table 5
27 agent_pick_object 5
27 agent_place_object_placement 5
28 agent_move_bathroom 5
28 agent_move_livingroom 5
28 agent_move_outside 5
28 agent_move_placement 5
28 agent_move_shelf1 5
28 agent_move_shelf2 5
28 agent_move_shelf3 4
28 agent_move_sidetable 5
28 agent_move_sofa 5
28 agent_move_table 5
28 agent_pick_object 5
28 agent_place_object_placement 5
29 agent_move_bathroom 5
29 agent_move_livingroom 5
29 agent_move_outside 5
29 agent_move_placement 5
29 agent_move_shelf1 5
29 agent_move_shelf2 5
29 agent_move_shelf3 5
29 agent_move_sidetable 5
29 agent_move_sofa 4
29 agent_move_table 5
29 agent_pick_object 5
29 agent_place_object_placement 5
30 agent_move_bathroom 5
30 agent_move_livingroom 4
30 agent_move_outside 5
30 agent_move_placement 5
30 agent_move_shelf1 5
30 agent_move_shelf2 5
30 agent_move_shelf3 5
30 agent_move_sidetable 5
30 agent_move_sofa 5
30 agent_move_table 5
30 agent_pick_object 5
30 agent_place_object_placement 5
31 agent_move_bathroom 3
31 agent_move_livingroom 3
31 agent_move_outside 3
31 agent_move_placement 2
31 agent_move_shelf1 3
31 agent_move_shelf2 3
31 agent_move_shelf3 3
31 agent_move_sidetable 3
31 agent_move_sofa 3
31 agent_move_table 3
31 agent_pick_object 3
31 agent_place_object_placement 3
33 agent_move_bathroom 5
33 agent_move_livingroom 5
33 agent_move_outside 5
33 agent_move_placement 5
33 agent_move_shelf1 5
33 agent_move_shelf2 5
33 agent_move_shelf3 5
33 agent_move_sidetable 5
33 agent_move_sofa 5
33 agent_move_table 4
33 agent_pick_object 5
33 agent_place_object_placement 5
34 agent_move_bathroom 5
34 agent_move_livingroom 5
34 agent_move_outside 5
34 agent_move_placement 5
34 agent_move_shelf1 5
34 agent_move_shelf2 5
34 agent_move_shelf3 5
34 agent_move_sidetable 4
34 agent_move_sofa 5
34 agent_move_table 5
34 agent_pick_object 5
34 agent_place_object_placement 5
35 agent_move_bathroom 4
35 agent_move_livingroom 5
35 agent_move_outside 5
35 agent_move_placement 5
35 agent_move_shelf1 5
35 agent_move_shelf2 5
35 agent_move_shelf3 5
35 agent_move_sidetable 5
35 agent_move_sofa 5
35 agent_move_table 5
35 agent_pick_object 5
35 agent_place_object_placement 5
36 agent_move_bathroom 5
36 agent_move_livingroom 5
36 agent_move_outside 4
36 agent_move_placement 5
36 agent_move_shelf1 5
36 agent_move_shelf2 5
36 agent_move_shelf3 5
36 agent_move_sidetable 5
36 agent_move_sofa 5
36 agent_move_table 5
36 agent_pick_object 3
36 agent_place_object_placement 4
37 agent_move_bathroom 5
37 agent_move_livingroom 5
37 agent_move_outside 5
37 agent_move_placement 5
37 agent_move_shelf1 4
37 agent_move_shelf2 5
37 agent_move_shelf3 5
37 agent_move_sidetable 5
37 agent_move_sofa 5
37 agent_move_table 5
37 agent_pick_object 5
37 agent_place_object_placement 5
38 agent_move_bathroom 5
38 agent_move_livingroom 5
38 agent_move_outside 5
38 agent_move_placement 5
38 agent_move_shelf1 5
38 agent_move_shelf2 4
38 agent_move_shelf3 5
38 agent_move_sidetable 5
38 agent_move_sofa 5
38 agent_move_table 5
38 agent_pick_object 5
38 agent_place_object_placement 5
39 agent_move_bathroom 5
39 agent_move_livingroom 5
39 agent_move_outside 5
39 agent_move_placement 5
39 agent_move_shelf1 5
39 agent_move_shelf2 5
39 agent_move_shelf3 4
39 agent_move_sidetable 5
39 agent_move_sofa 5
39 agent_move_table 5
39 agent_pick_object 5
39 agent_place_object_placement 5
40 agent_move_bathroom 5
40 agent_move_livingroom 5
40 agent_move_outside 5
40 agent_move_placement 5
40 agent_move_shelf1 5
40 agent_move_shelf2 5
40 agent_move_shelf3 5
40 agent_move_sidetable 5
40 agent_move_sofa 4
40 agent_move_table 5
40 agent_pick_object 5
40 agent_place_object_placement 5
41 agent_move_bathroom 5
41 agent_move_livingroom 4
41 agent_move_outside 5
41 agent_move_placement 5
41 agent_move_shelf1 5
41 agent_move_shelf2 5
41 agent_move_shelf3 5
41 agent_move_sidetable 5
41 agent_move_sofa 5
41 agent_move_table 5
41 agent_pick_object 5
41 agent_place_object_placement 5
42 agent_move_bathroom 3
42 agent_move_livingroom 3
42 agent_move_outside 3
42 agent_move_placement 2
42 agent_move_shelf1 3
42 agent_move_shelf2 3
42 agent_move_shelf3 3
42 agent_move_sidetable 3
42 agent_move_sofa 3
42 agent_move_table 3
42 agent_pick_object 3
42 agent_place_object_placement 3
44 agent_move_bathroom 5
44 agent_move_livingroom 5
44 agent_move_outside 5
44 agent_move_placement 5
44 agent_move_shelf1 5
44 agent_move_shelf2 5
44 agent_move_shelf3 5
44 agent_move_sidetable 5
44 agent_move_sofa 5
44 agent_move_table 4
44 agent_pick_object 5
44 agent_place_object_placement 5
45 agent_move_bathroom 5
45 agent_move_livingroom 5
45 agent_move_outside 5
45 agent_move_placement 5
45 agent_move_shelf1 5
45 agent_move_shelf2 5
45 agent_move_shelf3 5
45 agent_move_sidetable 4
45 agent_move_sofa 5
45 agent_move_table 5
45 agent_pick_object 5
45 agent_place_object_placement 5
46 agent_move_bathroom 4
46 agent_move_livingroom 5
46 agent_move_outside 5
46 agent_move_placement 5
46 agent_move_shelf1 5
46 agent_move_shelf2 5
46 agent_move_shelf3 5
46 agent_move_sidetable 5
46 agent_move_sofa 5
46 agent_move_table 5
46 agent_pick_object 5
46 agent_place_object_placement 5
47 agent_move_bathroom 5
47 agent_move_livingroom 5
47 agent_move_outside 4
47 agent_move_placement 5
47 agent_move_shelf1 5
47 agent_move_shelf2 5
47 agent_move_shelf3 5
47 agent_move_sidetable 5
47 agent_move_sofa 5
47 agent_move_table 5
47 agent_pick_object 5
47 agent_place_object_placement 5
48 agent_move_bathroom 5
48 agent_move_livingroom 5
48 agent_move_outside 5
48 agent_move_placement 5
48 agent_move_shelf1 4
48 agent_move_shelf2 5
48 agent_move_shelf3 5
48 agent_move_sidetable 5
48 agent_move_sofa 5
48 agent_move_table 5
48 agent_pick_object 3
48 agent_place_object_placement 4
49 agent_move_bathroom 5
49 agent_move_livingroom 5
49 agent_move_outside 5
49 agent_move_placement 5
49 agent_move_shelf1 5
49 agent_move_shelf2 4
49 agent_move_shelf3 5
49 agent_move_sidetable 5
49 agent_move_sofa 5
49 agent_move_table 5
49 agent_pick_object 5
49 agent_place_object_placement 5
50 agent_move_bathroom 5
50 agent_move_livingroom 5
50 agent_move_outside 5
50 agent_move_placement 5
50 agent_move_shelf1 5
50 agent_move_shelf2 5
50 agent_move_shelf3 4
50 agent_move_sidetable 5
50 agent_move_sofa 5
50 agent_move_table 5
50 agent_pick_object 5
50 agent_place_object_placement 5
51 agent_move_bathroom 5
51 agent_move_livingroom 5
51 agent_move_outside 5
51 agent_move_placement 5
51 agent_move_shelf1 5
51 agent_move_shelf2 5
51 agent_move_shelf3 5
51 agent_move_sidetable 5
51 agent_move_sofa 4
51 agent_move_table 5
51 agent_pick_object 5
51 agent_place_object_placement 5
52 agent_move_bathroom 5
52 agent_move_livingroom 4
52 agent_move_outside 5
52 agent_move_placement 5
52 agent_move_shelf1 5
52 agent_move_shelf2 5
52 agent_move_shelf3 5
52 agent_move_sidetable 5
52 agent_move_sofa 5
52 agent_move_table 5
52 agent_pick_object 5
52 agent_place_object_placement 5
53 agent_move_bathroom 3
53 agent_move_livingroom 3
53 agent_move_outside 3
53 agent_move_placement 2
53 agent_move_shelf1 3
53 agent_move_shelf2 3
53 agent_move_shelf3 3
53 agent_move_sidetable 3
53 agent_move_sofa 3
53 agent_move_table 3
53 agent_pick_object 3
53 agent_place_object_placement 3
55 agent_move_bathroom 5
55 agent_move_livingroom 5
55 agent_move_outside 5
55 agent_move_placement 5
55 agent_move_shelf1 5
55 agent_move_shelf2 5
55 agent_move_shelf3 5
55 agent_move_sidetable 5
55 agent_move_sofa 5
55 agent_move_table 4
55 agent_pick_object 5
55 agent_place_object_placement 5
56 agent_move_bathroom 5
56 agent_move_livingroom 5
56 agent_move_outside 5
56 agent_move_placement 5
56 agent_move_shelf1 5
56 agent_move_shelf2 5
56 agent_move_shelf3 5
56 agent_move_sidetable 4
56 agent_move_sofa 5
56 agent_move_table 5
56 agent_pick_object 5
56 agent_place_object_placement 5
57 agent_move_bathroom 4
57 agent_move_livingroom 5
57 agent_move_outside 5
57 agent_move_placement 5
57 agent_move_shelf1 5
57 agent_move_shelf2 5
57 agent_move_shelf3 5
57 agent_move_sidetable 5
57 agent_move_sofa 5
57 agent_move_table 5
57 agent_pick_object 5
57 agent_place_object_placement 5
58 agent_move_bathroom 5
58 agent_move_livingroom 5
58 agent_move_outside 4
58 agent_move_placement 5
58 agent_move_shelf1 5
58 agent_move_shelf2 5
58 agent_move_shelf3 5
58 agent_move_sidetable 5
58 agent_move_sofa 5
58 agent_move_table 5
58 agent_pick_object 5
58 agent_place_object_placement 5
59 agent_move_bathroom 5
59 agent_move_livingroom 5
59 agent_move_outside 5
59 agent_move_placement 5
59 agent_move_shelf1 4
59 agent_move_shelf2 5
59 agent_move_shelf3 5
59 agent_move_sidetable 5
59 agent_move_sofa 5
59 agent_move_table 5
59 agent_pick_object 5
59 agent_place_object_placement 5
60 agent_move_bathroom 5
60 agent_move_livingroom 5
60 agent_move_outside 5
60 agent_move_placement 5
60 agent_move_shelf1 5
60 agent_move_shelf2 4
60 agent_move_shelf3 5
60 agent_move_sidetable 5
60 agent_move_sofa 5
60 agent_move_table 5
60 agent_pick_object 3
60 agent_place_object_placement 4
61 agent_move_bathroom 5
61 agent_move_livingroom 5
61 agent_move_outside 5
61 agent_move_placement 5
61 agent_move_shelf1 5
61 agent_move_shelf2 5
61 agent_move_shelf3 4
61 agent_move_sidetable 5
61 agent_move_sofa 5
61 agent_move_table 5
61 agent_pick_object 5
61 agent_place_object_placement 5
62 agent_move_bathroom 5
62 agent_move_livingroom 5
62 agent_move_outside 5
62 agent_move_placement 5
62 agent_move_shelf1 5
62 agent_move_shelf2 5
62 agent_move_shelf3 5
62 agent_move_sidetable 5
62 agent_move_sofa 4
62 agent_move_table 5
62 agent_pick_object 5
62 agent_place_object_placement 5
63 agent_move_bathroom 5
63 agent_move_livingroom 4
63 agent_move_outside 5
63 agent_move_placement 5
63 agent_move_shelf1 5
63 agent_move_shelf2 5
63 agent_move_shelf3 5
63 agent_move_sidetable 5
63 agent_move_sofa 5
63 agent_move_table 5
63 agent_pick_object 5
63 agent_place_object_placement 5
64 agent_move_bathroom 3
64 agent_move_livingroom 3
64 agent_move_outside 3
64 agent_move_placement 2
64 agent_move_shelf1 3
64 agent_move_shelf2 3
64 agent_move_shelf3 3
64 agent_move_sidetable 3
64 agent_move_sofa 3
64 agent_move_table 3
64 agent_pick_object 3
64 agent_place_object_placement 3
66 agent_move_bathroom 5
66 agent_move_livingroom 5
66 agent_move_outside 5
66 agent_move_placement 5
66 agent_move_shelf1 5
66 agent_move_shelf2 5
66 agent_move_shelf3 5
66 agent_move_sidetable 5
66 agent_move_sofa 5
66 agent_move_table 4
66 agent_pick_object 5
66 agent_place_object_placement 5
67 agent_move_bathroom 5
67 agent_move_livingroom 5
67 agent_move_outside 5
67 agent_move_placement 5
67 agent_move_shelf1 5
67 agent_move_shelf2 5
67 agent_move_shelf3 5
67 agent_move_sidetable 4
67 agent_move_sofa 5
67 agent_move_table 5
67 agent_pick_object 5
67 agent_place_object_placement 5
68 agent_move_bathroom 4
68 agent_move_livingroom 5
68 agent_move_outside 5
68 agent_move_placement 5
68 agent_move_shelf1 5
68 agent_move_shelf2 5
68 agent_move_shelf3 5
68 agent_move_sidetable 5
68 agent_move_sofa 5
68 agent_move_table 5
68 agent_pick_object 5
68 agent_place_object_placement 5
69 agent_move_bathroom 5
69 agent_move_livingroom 5
69 agent_move_outside 4
69 agent_move_placement 5
69 agent_move_shelf1 5
69 agent_move_shelf2 5
69 agent_move_shelf3 5
69 agent_move_sidetable 5
69 agent_move_sofa 5
69 agent_move_table 5
69 agent_pick_object 5
69 agent_place_object_placement 5
70 agent_move_bathroom 5
70 agent_move_livingroom 5
70 agent_move_outside 5
70 agent_move_placement 5
70 agent_move_shelf1 4
70 agent_move_shelf2 5
70 agent_move_shelf3 5
70 agent_move_sidetable 5
70 agent_move_sofa 5
70 agent_move_table 5
70 agent_pick_object 5
70 agent_place_object_placement 5
71 agent_move_bathroom 5
71 agent_move_livingroom 5
71 agent_move_outside 5
71 agent_move_placement 5
71 agent_move_shelf1 5
71 agent_move_shelf2 4
71 agent_move_shelf3 5
71 agent_move_sidetable 5
71 agent_move_sofa 5
71 agent_move_table 5
71 agent_pick_object 5
71 agent_place_object_placement 5
72 agent_move_bathroom 5
72 agent_move_livingroom 5
72 agent_move_outside 5
72 agent_move_placement 5
72 agent_move_shelf1 5
72 agent_move_shelf2 5
72 agent_move_shelf3 4
72 agent_move_sidetable 5
72 agent_move_sofa 5
72 agent_move_table 5
72 agent_pick_object 3
72 agent_place_object_placement 4
73 agent_move_bathroom 5
73 agent_move_livingroom 5
73 agent_move_outside 5
73 agent_move_placement 5
73 agent_move_shelf1 5
73 agent_move_shelf2 5
73 agent_move_shelf3 5
73 agent_move_sidetable 5
73 agent_move_sofa 4
73 agent_move_table 5
73 agent_pick_object 5
73 agent_place_object_placement 5
74 agent_move_bathroom 5
74 agent_move_livingroom 4
74 agent_move_outside 5
74 agent_move_placement 5
74 agent_move_shelf1 5
74 agent_move_shelf2 5
74 agent_move_shelf3 5
74 agent_move_sidetable 5
74 agent_move_sofa 5
74 agent_move_table 5
74 agent_pick_object 5
74 agent_place_object_placement 5
75 agent_move_bathroom 3
75 agent_move_livingroom 3
75 agent_move_outside 3
75 agent_move_placement 2
75 agent_move_shelf1 3
75 agent_move_shelf2 3
75 agent_move_shelf3 3
75 agent_move_sidetable 3
75 agent_move_sofa 3
75 agent_move_table 3
75 agent_pick_object 3
75 agent_place_object_placement 3
77 agent_move_bathroom 5
77 agent_move_livingroom 5
77 agent_move_outside 5
77 agent_move_placement 5
77 agent_move_shelf1 5
77 agent_move_shelf2 5
77 agent_move_shelf3 5
77 agent_move_sidetable 5
77 agent_move_sofa 5
77 agent_move_table 4
77 agent_pick_object 5
77 agent_place_object_placement 5
78 agent_move_bathroom 5
78 agent_move_livingroom 5
78 agent_move_outside 5
78 agent_move_placement 5
78 agent_move_shelf1 5
78 agent_move_shelf2 5
78 agent_move_shelf3 5
78 agent_move_sidetable 4
78 agent_move_sofa 5
78 agent_move_table 5
78 agent_pick_object 5
78 agent_place_object_placement 5
79 agent_move_bathroom 4
79 agent_move_livingroom 5
79 agent_move_outside 5
79 agent_move_placement 5
79 agent_move_shelf1 5
79 agent_move_shelf2 5
79 agent_move_shelf3 5
79 agent_move_sidetable 5
79 agent_move_sofa 5
79 agent_move_table 5
79 agent_pick_object 5
79 agent_place_object_placement 5
80 agent_move_bathroom 5
80 agent_move_livingroom 5
80 agent_move_outside 4
80 agent_move_placement 5
80 agent_move_shelf1 5
80 agent_move_shelf2 5
80 agent_move_shelf3 5
80 agent_move_sidetable 5
80 agent_move_sofa 5
80 agent_move_table 5
80 agent_pick_object 5
80 agent_place_object_placement 5
81 agent_move_bathroom 5
81 agent_move_livingroom 5
81 agent_move_outside 5
81 agent_move_placement 5
81 agent_move_shelf1 4
81 agent_move_shelf2 5
81 agent_move_shelf3 5
81 agent_move_sidetable 5
81 agent_move_sofa 5
81 agent_move_table 5
81 agent_pick_object 5
81 agent_place_object_placement 5
82 agent_move_bathroom 5
82 agent_move_livingroom 5
82 agent_move_outside 5
82 agent_move_placement 5
82 agent_move_shelf1 5
82 agent_move_shelf2 4
82 agent_move_shelf3 5
82 agent_move_sidetable 5
82 agent_move_sofa 5
82 agent_move_table 5
82 agent_pick_object 5
82 agent_place_object_placement 5
83 agent_move_bathroom 5
83 agent_move_livingroom 5
83 agent_move_outside 5
83 agent_move_placement 5
83 agent_move_shelf1 5
83 agent_move_shelf2 5
83 agent_move_shelf3 4
83 agent_move_sidetable 5
83 agent_move_sofa 5
83 agent_move_table 5
83 agent_pick_object 5
83 agent_place_object_placement 5
84 agent_move_bathroom 5
84 agent_move_livingroom 5
84 agent_move_outside 5
84 agent_move_placement 5
84 agent_move_shelf1 5
84 agent_move_shelf2 5
84 agent_move_shelf3 5
84 agent_move_sidetable 5
84 agent_move_sofa 4
84 agent_move_table 5
84 agent_pick_object 3
84 agent_place_object_placement 4
85 agent_move_bathroom 5
85 agent_move_livingroom 4
85 agent_move_outside 5
85 agent_move_placement 5
85 agent_move_shelf1 5
85 agent_move_shelf2 5
85 agent_move_shelf3 5
85 agent_move_sidetable 5
85 agent_move_sofa 5
85 agent_move_table 5
85 agent_pick_object 5
85 agent_place_object_placement 5
86 agent_move_bathroom 3
86 agent_move_livingroom 3
86 agent_move_outside 3
86 agent_move_placement 2
86 agent_move_shelf1 3
86 agent_move_shelf2 3
86 agent_move_shelf3 3
86 agent_move_sidetable 3
86 agent_move_sofa 3
86 agent_move_table 3
86 agent_pick_object 3
86 agent_place_object_placement 3
88 agent_move_bathroom 5
88 agent_move_livingroom 5
88 agent_move_outside 5
88 agent_move_placement 5
88 agent_move_shelf1 5
88 agent_move_shelf2 5
88 agent_move_shelf3 5
88 agent_move_sidetable 5
88 agent_move_sofa 5
88 agent_move_table 4
88 agent_pick_object 5
88 agent_place_object_placement 5
89 agent_move_bathroom 5
89 agent_move_livingroom 5
89 agent_move_outside 5
89 agent_move_placement 5
89 agent_move_shelf1 5
89 agent_move_shelf2 5
89 agent_move_shelf3 5
89 agent_move_sidetable 4
89 agent_move_sofa 5
89 agent_move_table 5
89 agent_pick_object 5
89 agent_place_object_placement 5
90 agent_move_bathroom 4
90 agent_move_livingroom 5
90 agent_move_outside 5
90 agent_move_placement 5
90 agent_move_shelf1 5
90 agent_move_shelf2 5
90 agent_move_shelf3 5
90 agent_move_sidetable 5
90 agent_move_sofa 5
90 agent_move_table 5
90 agent_pick_object 5
90 agent_place_object_placement 5
91 agent_move_bathroom 5
91 agent_move_livingroom 5
91 agent_move_outside 4
91 agent_move_placement 5
91 agent_move_shelf1 5
91 agent_move_shelf2 5
91 agent_move_shelf3 5
91 agent_move_sidetable 5
91 agent_move_sofa 5
91 agent_move_table 5
91 agent_pick_object 5
91 agent_place_object_placement 5
92 agent_move_bathroom 5
92 agent_move_livingroom 5
92 agent_move_outside 5
92 agent_move_placement 5
92 agent_move_shelf1 4
92 agent_move_shelf2 5
92 agent_move_shelf3 5
92 agent_move_sidetable 5
92 agent_move_sofa 5
92 agent_move_table 5
92 agent_pick_object 5
92 agent_place_object_placement 5
93 agent_move_bathroom 5
93 agent_move_livingroom 5
93 agent_move_outside 5
93 agent_move_placement 5
93 agent_move_shelf1 5
93 agent_move_shelf2 4
93 agent_move_shelf3 5
93 agent_move_sidetable 5
93 agent_move_sofa 5
93 agent_move_table 5
93 agent_pick_object 5
93 agent_place_object_placement 5
94 agent_move_bathroom 5
94 agent_move_livingroom 5
94 agent_move_outside 5
94 agent_move_placement 5
94 agent_move_shelf1 5
94 agent_move_shelf2 5
94 agent_move_shelf3 4
94 agent_move_sidetable 5
94 agent_move_sofa 5
94 agent_move_table 5
94 agent_pick_object 5
94 agent_place_object_placement 5
95 agent_move_bathroom 5
95 agent_move_livingroom 5
95 agent_move_outside 5
95 agent_move_placement 5
95 agent_move_shelf1 5
95 agent_move_shelf2 5
95 agent_move_shelf3 5
95 agent_move_sidetable 5
95 agent_move_sofa 4
95 agent_move_table 5
95 agent_pick_object 5
95 agent_place_object_placement 5
96 agent_move_bathroom 5
96 agent_move_livingroom 4
96 agent_move_outside 5
96 agent_move_placement 5
96 agent_move_shelf1 5
96 agent_move_shelf2 5
96 agent_move_shelf3 5
96 agent_move_sidetable 5
96 agent_move_sofa 5
96 agent_move_table 5
96 agent_pick_object 3
96 agent_place_object_placement 4
97 agent_move_bathroom 3
97 agent_move_livingroom 3
97 agent_move_outside 3
97 agent_move_placement 2
97 agent_move_shelf1 3
97 agent_move_shelf2 3
97 agent_move_shelf3 3
97 agent_move_sidetable 3
97 agent_move_sofa 3
97 agent_move_table 3
97 agent_pick_object 3
97 agent_place_object_placement 3
99 agent_move_bathroom 5
99 agent_move_livingroom 5
99 agent_move_outside 5
99 agent_move_placement 5
99 agent_move_shelf1 5
99 agent_move_shelf2 5
99 agent_move_shelf3 5
99 agent_move_sidetable 5
99 agent_move_sofa 5
99 agent_move_table 4
99 agent_pick_object 5
99 agent_place_object_placement 5
100 agent_move_bathroom 5
100 agent_move_livingroom 5
100 agent_move_outside 5
100 agent_move_placement 5
100 agent_move_shelf1 5
100 agent_move_shelf2 5
100 agent_move_shelf3 5
100 agent_move_sidetable 4
100 agent_move_sofa 5
100 agent_move_table 5
100 agent_pick_object 5
100 agent_place_object_placement 5
101 agent_move_bathroom 4
101 agent_move_livingroom 5
101 agent_move_outside 5
101 agent_move_placement 5
101 agent_move_shelf1 5
101 agent_move_shelf2 5
101 agent_move_shelf3 5
101 agent_move_sidetable 5
101 agent_move_sofa 5
101 agent_move_table 5
101 agent_pick_object 5
101 agent_place_object_placement 5
102 agent_move_bathroom 5
102 agent_move_livingroom 5
102 agent_move_outside 4
102 agent_move_placement 5
102 agent_move_shelf1 5
102 agent_move_shelf2 5
102 agent_move_shelf3 5
102 agent_move_sidetable 5
102 agent_move_sofa 5
102 agent_move_table 5
102 agent_pick_object 5
102 agent_place_object_placement 5
103 agent_move_bathroom 5
103 agent_move_livingroom 5
103 agent_move_outside 5
103 agent_move_placement 5
103 agent_move_shelf1 4
103 agent_move_shelf2 5
103 agent_move_shelf3 5
103 agent_move_sidetable 5
103 agent_move_sofa 5
103 agent_move_table 5
103 agent_pick_object 5
103 agent_place_object_placement 5
104 agent_move_bathroom 5
104 agent_move_livingroom 5
104 agent_move_outside 5
104 agent_move_placement 5
104 agent_move_shelf1 5
104 agent_move_shelf2 4
104 agent_move_shelf3 5
104 agent_move_sidetable 5
104 agent_move_sofa 5
104 agent_move_table 5
104 agent_pick_object 5
104 agent_place_object_placement 5
105 agent_move_bathroom 5
105 agent_move_livingroom 5
105 agent_move_outside 5
105 agent_move_placement 5
105 agent_move_shelf1 5
105 agent_move_shelf2 5
105 agent_move_shelf3 4
105 agent_move_sidetable 5
105 agent_move_sofa 5
105 agent_move_table 5
105 agent_pick_object 5
105 agent_place_object_placement 5
106 agent_move_bathroom 5
106 agent_move_livingroom 5
106 agent_move_outside 5
106 agent_move_placement 5
106 agent_move_shelf1 5
106 agent_move_shelf2 5
106 agent_move_shelf3 5
106 agent_move_sidetable 5
106 agent_move_sofa 4
106 agent_move_table 5
106 agent_pick_object 5
106 agent_place_object_placement 5
107 agent_move_bathroom 5
107 agent_move_livingroom 4
107 agent_move_outside 5
107 agent_move_placement 5
107 agent_move_shelf1 5
107 agent_move_shelf2 5
107 agent_move_shelf3 5
107 agent_move_sidetable 5
107 agent_move_sofa 5
107 agent_move_table 5
107 agent_pick_object 5
107 agent_place_object_placement 5
108 agent_move_bathroom 3
108 agent_move_livingroom 3
108 agent_move_outside 3
108 agent_move_placement 2
108 agent_move_shelf1 3
108 agent_move_shelf2 3
108 agent_move_shelf3 3
108 agent_move_sidetable 3
108 agent_move_sofa 3
108 agent_move_table 3
108 agent_pick_object 2
108 agent_place_object_placement 1
