0 agent_move_outside 4
0 agent_move_shelf1 4
0 agent_move_shelf2 4
0 agent_move_sofa 4
0 agent_move_table 1001
0 agent_pick_keys 2
1 agent_move_outside 2
1 agent_move_shelf1 4
1 agent_move_shelf2 4
1 agent_move_sofa 4
1 agent_move_table 1001
1 agent_pick_keys 3
2 agent_move_outside 6
2 agent_move_shelf1 4
2 agent_move_shelf2 6
2 agent_move_sofa 6
2 agent_move_table 1001
2 agent_pick_keys 5
3 agent_move_outside 6
3 agent_move_shelf1 6
3 agent_move_shelf2 4
3 agent_move_sofa 6
3 agent_move_table 1001
3 agent_pick_keys 5
4 agent_move_outside 6
4 agent_move_shelf1 6
4 agent_move_shelf2 6
4 agent_move_sofa 4
4 agent_move_table 1001
4 agent_pick_keys 5
5 agent_move_outside 1
5 agent_move_shelf1 3
5 agent_move_shelf2 3
5 agent_move_sofa 3
5 agent_move_table 1001
5 agent_pick_keys 1001
6 agent_move_outside 1001
6 agent_move_shelf1 1001
6 agent_move_shelf2 1001
6 agent_move_sofa 1001
6 agent_move_table 3
6 agent_pick_keys 4
7 agent_move_outside 1001
7 agent_move_shelf1 1001
7 agent_move_shelf2 1001
7 agent_move_sofa 1001
7 agent_move_table 3
7 agent_pick_keys 1
8 agent_move_outside 1001
8 agent_move_shelf1 1001
8 agent_move_shelf2 1001
8 agent_move_sofa 1001
8 agent_move_table 5
8 agent_pick_keys 6
9 agent_move_outside 1001
9 agent_move_shelf1 1001
9 agent_move_shelf2 1001
9 agent_move_sofa 1001
9 agent_move_table 5
9 agent_pick_keys 6
10 agent_move_outside 1001
10 agent_move_shelf1 1001
10 agent_move_shelf2 1001
10 agent_move_sofa 1001
10 agent_move_table 5
10 agent_pick_keys 6
12 agent_move_outside 1001
12 agent_move_shelf1 1001
12 agent_move_shelf2 1001
12 agent_move_sofa 1001
12 agent_move_table 3
12 agent_pick_keys 4
13 agent_move_outside 1001
13 agent_move_shelf1 1001
13 agent_move_shelf2 1001
13 agent_move_sofa 1001
13 agent_move_table 3
13 agent_pick_keys 4
14 agent_move_outside 1001
14 agent_move_shelf1 1001
14 agent_move_shelf2 1001
14 agent_move_sofa 1001
14 agent_move_table 5
14 agent_pick_keys 3
15 agent_move_outside 1001
15 agent_move_shelf1 1001
15 agent_move_shelf2 1001
15 agent_move_sofa 1001
15 agent_move_table 5
15 agent_pick_keys 6
16 agent_move_outside 1001
16 agent_move_shelf1 1001
16 agent_move_shelf2 1001
16 agent_move_sofa 1001
16 agent_move_table 5
16 agent_pick_keys 6
17 agent_move_outside 1001
17 agent_move_shelf1 1001
17 agent_move_shelf2 1001
17 agent_move_sofa 1001
17 agent_move_table 2
17 agent_pick_keys 1001
18 agent_move_outside 1001
18 agent_move_shelf1 1001
18 agent_move_shelf2 1001
18 agent_move_sofa 1001
18 agent_move_table 3
18 agent_pick_keys 4
19 agent_move_outside 1001
19 agent_move_shelf1 1001
19 agent_move_shelf2 1001
19 agent_move_sofa 1001
19 agent_move_table 3
19 agent_pick_keys 4
20 agent_move_outside 1001
20 agent_move_shelf1 1001
20 agent_move_shelf2 1001
20 agent_move_sofa 1001
20 agent_move_table 5
20 agent_pick_keys 6
21 agent_move_outside 1001
21 agent_move_shelf1 1001
21 agent_move_shelf2 1001
21 agent_move_sofa 1001
21 agent_move_table 5
21 agent_pick_keys 3
22 agent_move_outside 1001
22 agent_move_shelf1 1001
22 agent_move_shelf2 1001
22 agent_move_sofa 1001
22 agent_move_table 5
22 agent_pick_keys 6
23 agent_move_outside 1001
23 agent_move_shelf1 1001
23 agent_move_shelf2 1001
23 agent_move_sofa 1001
23 agent_move_table 2
23 agent_pick_keys 1001
24 agent_move_outside 1001
24 agent_move_shelf1 1001
24 agent_move_shelf2 1001
24 agent_move_sofa 1001
24 agent_move_table 3
24 agent_pick_keys 4
25 agent_move_outside 1001
25 agent_move_shelf1 1001
25 agent_move_shelf2 1001
25 agent_move_sofa 1001
25 agent_move_table 3
25 agent_pick_keys 4
26 agent_move_outside 1001
26 agent_move_shelf1 1001
26 agent_move_shelf2 1001
26 agent_move_sofa 1001
26 agent_move_table 5
26 agent_pick_keys 6
27 agent_move_outside 1001
27 agent_move_shelf1 1001
27 agent_move_shelf2 1001
27 agent_move_sofa 1001
27 agent_move_table 5
27 agent_pick_keys 6
28 agent_move_outside 1001
28 agent_move_shelf1 1001
28 agent_move_shelf2 1001
28 agent_move_sofa 1001
28 agent_move_table 5
28 agent_pick_keys 3
29 agent_move_outside 1001
29 agent_move_shelf1 1001
29 agent_move_shelf2 1001
29 agent_move_sofa 1001
29 agent_move_table 2
29 agent_pick_keys 1001
